/* we define font sizes in ems, all other sizes in rems, except borders sometimes */

html {
    margin: 0;

    /* 1rem = 20px (font-size of body) */
    /* changing this scales the entire site */
    font-size: 20px;
}

.soich {
  /* shared variables */
  --font-family: Poppins, sans-serif;
  
  /* light mode (default) color scales */
  --gray-100-rgb: 249, 249, 249;
  --gray-200-rgb: 219, 219, 219;
  --gray-300-rgb: 187, 187, 187;
  --gray-400-rgb: 154, 154, 154;
  --gray-500-rgb: 125, 124, 124;
  --gray-600-rgb: 98, 98, 98;
  --gray-700-rgb: 70, 70, 70;
  --gray-800-rgb: 63, 63, 63;
  --gray-900-rgb: 57, 57, 57;
  --gray-1000-rgb: 10, 10, 10;
  --gray-100: rgb(var(--gray-100-rgb));
  --gray-200: rgb(var(--gray-200-rgb));
  --gray-300: rgb(var(--gray-300-rgb));
  --gray-400: rgb(var(--gray-400-rgb));
  --gray-500: rgb(var(--gray-500-rgb));
  --gray-600: rgb(var(--gray-600-rgb));
  --gray-700: rgb(var(--gray-700-rgb));
  --gray-800: rgb(var(--gray-800-rgb));
  --gray-900: rgb(var(--gray-900-rgb));
  --gray-1000: rgb(var(--gray-1000-rgb));

  --green: rgb(44 191 62);
  --blue: rgb(27 103 228);

  /* semantic aliases */
  --border-color:rgba(var(--gray-900-rgb), 0.5);
  --border-color-light:rgba(var(--gray-600-rgb), 0.5);

  --heading-color: var(--gray-1000);
  --subheading-color: var(--heading-color);
  --detail-color: var(--gray-900);
  
  --background-color: rgb(221 238 255);
  --background-color-alt:rgba(148,187,233,1);
  
  --cta-text-color: rgb(var(--gray-200));
  --cta-background-color: rgb(40, 40, 40, 0.50);

  --document-max-width: 75rem;
  --document-padding: 3rem;

  --animation-time: 125ms;
  --animation-ease: ease-in;
}

@media (prefers-color-scheme: dark) {
  /* dark mode color scales */
  .soich {
    --gray-100-rgb: 10, 10, 10;
    --gray-200-rgb: 38, 38, 38;
    --gray-300-rgb: 61, 61, 60;
    --gray-400-rgb: 85, 85, 84;
    --gray-500-rgb: 111, 111, 110;
    --gray-600-rgb: 138, 138, 137;
    --gray-700-rgb: 175, 175, 174;
    --gray-800-rgb: 184, 183, 183;
    --gray-900-rgb: 192, 192, 192;
    --gray-1000-rgb: 225, 225, 225;

    --green: rgb(15 199 38);
    --blue: rgb(114 164 255);

    --background-color: rgb(43, 54, 65);
    --background-color-alt: rgb(17, 33, 52);
  }
}

.soich {
  /* default font color */
  font-family: var(--font-family);
  color: var(--gray-900);
  font-weight: 300;
  
  /* make fonts look nicer */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;

  /* reset HTML's default margin */
  margin: 0;

  /* page background color (header fades to this color) */
  background: var(--background-color);
}

.soich-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0, var(--background-color) 0%, var(--background-color-alt) 100%);
}

/* hr */
hr {
  display: block;
  margin-block: var(--document-padding);
  margin-inline: 10%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--border-color), rgba(0, 0, 0, 0));
  margin-block: var(--document-padding);
}

/* name */
.soich-Name {
  margin-block: var(--document-padding);
  width: 48rem;
  aspect-ratio: 24 / 4.25;
  max-width: 100%;
  display: block;
  margin-inline: auto;
}
.soich-Name-first,
.soich-Name-last {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 74px;
  fill: currentColor;
}
.soich-Name-first {
  color: var(--gray-900);
}
.soich-Name-last {
  color: var(--gray-600);
}

/* typography */
h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 2.125rem;
  font-weight: 700;
  color: var(--heading-color);
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--subheading-color);
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--detail-color);
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--detail-color);
}

.soich-SectionHeading {
  text-align: center;
}

/* hero */
.soich-Hero {
  margin-block-start: var(--document-padding);
  margin-inline: var(--document-padding);
  box-sizing: border-box;
  max-width: var(--document-max-width);
}

.soich-Hero-hello {
  display: block;
}

.soich-Hero-image {
  position: relative;
  margin-top: 2rem;
  height: 50vh;
}

.soich-Hero-image img {
  width: 80rem;
  max-width: 100%;
}

.soich-Hero-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* align relative to closest positioned element (i.e. position: relative) */
  position: absolute;
  right: 0;
  bottom: 0;
  
  padding: 0 0.35em 0.25em 0.35em;
  
  font-size: 3em;
  color: var(--cta-text-color);
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-decoration: none;

  background-color: var(--cta-background-color);

  border-radius: 1rem;
}

.soich-Hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--document-padding);
}

.soich-Hero-blurb {
  flex-grow: 1;
}

/* content area */
.soich-Content {
  margin-inline: auto;
  max-width: var(--document-max-width);
  margin: var(--document-padding);
}

/* item */
.soich-Item {
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--document-padding);
  align-items: center;
}

.soich-Item:first-of-type {
  margin-block-start: 0;
}

.soich-Item + .soich-Item {
  flex-direction: row;
}

.soich-Item-image {
  width: 24rem;
  max-width: 100%;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
}

.soich-Item-description {
}

.soich-Item-description h2 {
  /* todo: font-sizes */
}

.soich-Item-description p {
  /* todo: font-sizes */
}

.soich-Item-description a {
  color: inherit !important; /* always be the right color */
  text-decoration: none; /* no underline */
}

.soich-Item-description a:hover {
  text-decoration: underline;
}

/* detail lists */
dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.25rem;
  font-size: 0.85em;
  margin-inline-start: 1rem;
}

dt {
  grid-column-start: 1;
  font-weight: 500;
  text-align: end;
}

dd {
  font-weight: 300;
  grid-column-start: 2;
  margin-inline-start: 0.75rem;
}

:is(h1, h2, h3, h4) a {
  color: inherit !important; /* always be the right color */
  text-decoration: none;
}

/* resume */
.soich-Resume {
}
.soich-Resume-entry {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
}
.soich-Resume-company {
  grid-row-start: 1;
  grid-column-start: 1;
}
.soich-Resume-date {
  grid-row-start: 1;
  grid-column-start: 2;
  white-space: nowrap;
  text-align: right;
  align-self: center;
}
.soich-Resume-role {
  grid-row-start: 2;
  grid-column-start: 1;
  margin: 0;
}

.soich-Resume-description,
.soich-Resume-responsibilities {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: span 2;
  margin-block: 0.75rem;
  margin-inline: 0.25rem;
}
.soich-Resume-responsibilities li {
  margin: 0;
}

/* contact icons */
.soich-Contact {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-block: 2em;
  margin-inline: 1.5em;
}

.soich-Contact a {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 2em;
  text-decoration: none;
  color: var(--gray-800);
  border-radius: 0.1em;
}

.soich-Contact a:focus {
  outline: none;
}

.soich-Contact a:focus-visible {
  /* todo: make this accessible */
}

.soich-Contact a i {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  opacity: 0.8;
  transition: font-size var(--animation-time) var(--animation-ease),
              opacity var(--animation-time) var(--animation-ease),
              text-shadow var(--animation-time) var(--animation-ease);
  aspect-ratio: 1 / 1;
  width: 1em;
  text-align: center;
  line-height: 0.95em;
}

.soich-Contact a:focus i, 
.soich-Contact a:hover i {
  text-shadow: 0 0 4px rgba(var(--gray-900-rgb), 0.125);
  opacity: 1;
  font-size: 1.25em;
}

.soich-Contact .icon-phone {
  color: var(--green);
}

.soich-Contact .icon-mail {
  color: var(--blue);
}

/* copyright */
.soich-Copyright {
  margin: var(--document-padding);
  text-align: center;;
  font-size: 0.75em;
  color: var(--gray-600);
}

/* skills */
.soich-Skills {
  display: flex;
  flex-direction: row;
  margin: 1em;
  align-items: start;
  justify-content: center;
}

/* REPSONSIVE */
.mobile-only {
  display: none;
}

.mobile-center {
  text-align: inherit;
}

/* do stuff for tablets here */
@media only screen and (max-width: 1280px) {
  .mobile-only {
    display: inherit;
  }

  .mobile-center {
    text-align: center;
  }

  .soich-Hero-content {
    /* stack text on mobile */
    /* if we do this, margins don't collapse */
    /* flex-direction: column; */
    /* gap: 0; */
    display: block;
  }
  
  .soich {
    --document-padding: 2rem;
  }

  .soich-Hero {
    margin-block-start: 0;
  }

  .soich-Item,
  .soich-Item + .soich-Item {
    /* descriptions go under items on mobile */
    flex-direction: column;
  }

  .soich-Resume-date {
    grid-row-start: 3;
    grid-column-start: 1;
    text-align: left;
  }
}

/* do stuff for phones here */
@media only screen and (max-width: 600px) {
  html {
    font-size: 20px;
  }

  .soich {
    --document-padding: 1.25rem;
  }
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .soich-Hero-content {
    /* stack text on mobile */
    flex-direction: column;
  }

  .soich-Hero-cta {
    /* hide CTA on mobile */
    display: none;
  }
  
  .soich-Hero {
    /* fill entire screen */
    max-width: 100%;
    
    /* space between logo */
    margin-top: 1rem;
  }

  .soich-Logo {
    /* center logo on mobile */
    align-self: center;
  }

  .soich-Resume-responsibilities {
    margin-inline: 0;
    padding-inline-start: 1.5rem;
  }

  dl {
    /* drop the margin since we're centered now */
    margin-inline-start: 0;
  }

  .soich-Contact {
    /* shrink so it fits on small phones */
    font-size: 1rem;
    margin-block: 1.5rem;
    margin-inline: 1rem;
    gap: 0.5em;
  }

  /* stack skills */
  .soich-Skills {
    flex-direction: column;
  }
}

/* Model viewer bits */
model-viewer {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;

  /* be transparent when loading */
  --poster-color: transparent;
}
